{% extends 'base_template.html' %}
{% load static %}

{% block title %}
Selfstorage | 404
{% endblock %}

{% block content %}
<aside class="py-5 mt-header SelfStorage__bg_green">
	<div class="container py-5">
		<div class="d-flex flex-column align-items-center">
			<h1 class="text-white text-center fw-bold mb-4">404 - Страница не найдена</h1>
			<h4 class="text-white text-center fw-light">Похоже Вы попытались открыть страницу которой не существует.
			</h4>
			<span class="text-white text-center fw-light">Если вы испытываете проблемы при работе с сайтом, пожалуйста,
				свяжитесь с нами.</span>
		</div>
	</div>
</aside>
{% endblock %}