{% extends 'base_template.html' %}
{% load static %}

{% block title %}
Selfstorage | 404
{% endblock %}

{% block content %}
<aside class="py-5 mt-header SelfStorage__bg_green">
	<div class="container py-5">
		<div class="d-flex flex-column align-items-center">
			<h4 class="text-white text-center fw-bold mb-4">г. Москва, ул. Вымышленная, д. 0, пом. 0</h4>
			<h4 class="text-white text-center fw-bold mb-4">8 (800) 000-00-00</h4>
			<h4 class="text-white text-center fw-bold mb-4">info@selfstorage.ru</h4>

		</div>
	</div>
</aside>
{% endblock %}