{% extends 'base_template.html' %}
{% load static %}

{% block title %}
Selfstorage | Заказы на доставку
{% endblock %}

{% block content %}
<hr />
<br />
<br />
<br />
<br />
<div class="container">
  <table class="table table-responsive">
    <tr>
      <th>Имя клиента</th>
      <th>Телефон клиента</th>
      <th>Адрес забора груза</th>
      <th>Город склада</th>
      <th>Адрес склада</th>
      <th>Номер бокса</th>
      <th>Статус доставки</th>
    </tr>
    {% for delivery_order in delivery_orders %}
    <tr>
      <td>{{delivery_order.client_first_name|default_if_none:""}}</td>
      <td>{{delivery_order.client_phone_number|default_if_none:""}}</td>
      <td>{{delivery_order.pickup_address|default_if_none:""}}</td>
      <td>{{delivery_order.warehouse_city}}</td>
      <td>{{delivery_order.warehouse_address}}</td>
      <td>{{delivery_order.box_number}}</td>
      <td>{{delivery_order.delivery_status}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}