{% extends 'base_template.html' %}
{% load static %}
{% load account %}
{% load i18n %}

{% block title %}
Selfstorage | Password reset
{% endblock %}


{% block content %}
<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
            <form method="POST" action="{% url 'account_reset_password' %}"
                class="d-flex flex-column align-items-center" style="max-width: 420px">
                <h1>Сброс пароля</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>Забыли пароль? Укажите ваш email и мы направим ссылку на восстановление пароля.</p>
                {% csrf_token %}
                {{ form.as_p }}
                <input
                    class="primaryAction btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange"
                    type="submit" value="{% trans 'Reset My Password' %}" />
                <p>Свяжитесь с нами, если у вас возникли сложности со сменой пароля.</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}