{% extends 'base_template.html' %}
{% load static %}
{% load account %}
{% load i18n %}

{% block title %}
Selfstorage | Password reset done
{% endblock %}

{% block content %}
<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
            <h4>Сброс пароля <br> Мы выслали пароль на указанную вами почту. </h4>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}