{% extends 'base_template.html' %}
{% load static %}
{% load account %}
{% load i18n %}

{% block title %}
Selfstorage | Sing up
{% endblock %}

{% block content %}
<div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
    <div class="modal-content">
        <div class="modal-header border-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
            <form method="post" enctype="multipart/form-data">
                <h1>Зарегистрироваться</h1>
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit"
                    class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Зарегистрироваться
                    &raquo;</button>
                <p>Уже зарегистрированы? <a href="{{ login_url }}">Войдите</a>.</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}