{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/Style.css' %}">
	<title>Boxes</title>
</head>

<body>
	<header>
		{% include 'includes/navbar.html' %}
	</header>

	<aside>
		{% include 'includes/auth.html' %}
	</aside>

  <!-- CREATE LEASE FORM -->
  <aside class="modal fade" id="LeaseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header border-0">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
          <form method="get" action="/lease" class="d-flex flex-column align-items-center" style="max-width: 420px">
            <h1 class="modal-title text-center fw-bold mb-4">Оформление аренды</h1>
            
            <div class="row">
              <div class="col-12 d-flex flex-column align-items-center align-items-lg-start">
                <h4 id="boxWhAddress" class="modal-title text-center mb-3">Москва, ул. Пушкина 17</h4>
              </div>
              <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                <span id="boxCode" class="fs_24 fw-bold SelfStorage_orange">Code</span>
                <span class="SelfStorage_grey mb-3">Код ячейки</span>
                <span id="boxArea" class="fs_24 fw-bold SelfStorage_orange">Area</span>
                <span class="SelfStorage_grey mb-3">Площадь</span>
              </div>
              <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                <span id="boxDims" class="fs_24 fw-bold SelfStorage_orange">Dimensions</span>
                <span class="SelfStorage_grey mb-3">Размер</span>
                <span id="boxPrice" data-rate="0" class="fs_24 fw-bold SelfStorage_orange">Price</span>
                <span class="SelfStorage_grey mb-3">Стоимость в месяц</span>
              </div>
              <div class="col-12 d-flex flex-column align-items-center align-items-lg-start">
                <label for="leaseDuration" class="form-label mt-4">Укажите на какой срок Вы хотите арендовать бокс</label>
                <input type="range" name="duration" value="1" class="form-range" min="1" max="12" id="duration">
              </div>
              <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                <span id="leaseDuration" class="fs_30 fw-bold SelfStorage_orange">0</span>
                <span class="SelfStorage_grey mb-3">Срок аренды</span>
              </div>
              <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                <span id="leasePrice" class="fs_30 fw-bold SelfStorage_orange">0</span>
                <span class="SelfStorage_grey mb-3">Итоговая стоимость</span>
              </div>
            </div>
            <input type="hidden" id="code" name="code" value="0">
            <div class="col-12 d-flex flex-column align-items-center align-items-lg-start">
              <div class="form-check fs_24">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label SelfStorage_orange fs_24" for="flexCheckDefault">
                  Получить Бесплатную доставку
                </label>
              </div>
            </div>            
            <button type="submit" class="btn border-8 py-3 px-5 mt-5 mb-3 w-100 text-white fs_24 SelfStorage__bg_orange SelfStorage__btn2_orange">Оформить</button>
          </form>
        </div>
      </div>
    </div>
  </aside>

	<main class="container mt-header">
		<article class="mt-header">
			<h1 class="text-center fw-bold SelfStorage_green mb-5">Аренда боксов</h1>
			<h6 class="text-center SelfStorage_grey">Арендуйте склад индивидуального хранения по уникальной цене прямо
				сейчас</h6>
			<a href="#BOX" id="toBox" class="d-none"></a>
			<ul class="nav nav-pills mb-3 d-flex justify-content-between" id="boxes-links" role="tablist">
        {% for wh in warehouses %}
          <li class="nav-item flex-grow-1 mx-2" role="presentation">
            <a href="#BOX" class="js-select-warehouse row text-decoration-none py-3 px-4 mt-5 SelfStorage__boxlink"
              data-warehouse="{{ wh.id }}" data-bs-toggle="pill" data-bs-target="#pills-{{ wh.id }}" role="tab"
              aria-controls="pills-{{ wh.id }}" aria-selected="true">
              <div class="col-12 col-lg-3 d-flex justify-content-center">
                <img src="{{ wh.images.0 }}" alt="" class="SelfStorage__thumbnail-image mb-3 mb-lg-0">
              </div>
              <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                <h4 class="text-center">{{ wh.city }}</h4>
                <h6 class="text-center">{{ wh.address }}</h6>
              </div>
              <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                 <h4 class="text-center">{{ wh.boxes_avaliable }} из {{ wh.boxes_total }}</h4>
                <h6 class="text-center">Боксов свободно</h6>
              </div>
              <div class="col-12 col-md-4 col-lg-3 d-flex flex-column justify-content-center">
                <h4 class="text-center SelfStorage_green">от {{ wh.starting_rate }} ₽</h4>
                <h6 class="text-center">{{ wh.thumbnail }}</h6>
              </div>
            </a>
          </li>
        {% endfor %}
			</ul>
		</article>
		<article class="pt-header" id="BOX">
			<div class="tab-content" id="boxes-content">
        {% for wh in warehouses %}
          <div class="tab-pane fade" id="pills-{{ wh.id }}" role="tabpanel"
            aria-labelledby="pills-{{ wh.id }}-tab">
            <h1 class="text-center mb-4 fw-bold">{{ wh.city }}, {{ wh.address }}</h1>
            <div class="row d-flex flex-column mb-5">
              <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-between align-self-center">
                <a type="button" class="SelfStorage_orange" data-bs-container="body"
                  data-bs-toggle="popover" data-bs-placement="bottom" title="Мобильный"
                  data-bs-content="{{ wh.contact_phone }}">
                  Контакты
                </a>
                <a type="button" class="SelfStorage_orange" data-bs-container="body"
                  data-bs-toggle="popover" data-bs-placement="bottom" title="Описание"
                  data-bs-content="{{ wh.description }}">
                  Описание
                </a>
                <a type="button" class="SelfStorage_orange" data-bs-container="body"
                  data-bs-toggle="popover" data-bs-placement="bottom" title="Проезд"
                  data-bs-content="Описание проезда">
                  Проезд
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-6">
                <div id="carousel_{{ wh.id }}_controls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    {% for image in wh.images %}
                      <div class="carousel-item {% if forloop.first %}active{% endif%}">
                        <div class="d-flex flex-column align-items-center">
                          <img src="{{ image }}" class="SelfStorage__carousel-image" alt="">
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="w-100 d-flex justify-content-center my-3">
                    <button data-bs-target="#carousel_{{ wh.id }}_controls" data-bs-slide="prev"
                      class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green"
                      style="width: 66px; height: 66px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff"
                        class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                      </svg>
                    </button>
                    <div style="width: 1rem"></div>
                    <button data-bs-target="#carousel_{{ wh.id }}_controls" data-bs-slide="next"
                      class="btn rounded-pill d-flex justify-content-center align-items-center SelfStorage__bg_green"
                      style="width: 66px; height: 66px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="#fff"
                        class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="row">
                  <p class="text-center text-lg-start SelfStorage_grey">Доступ по QR</p>
                  <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                    <span class="fs_30 fw-bold SelfStorage_orange">{{ wh.temperature }} °С</span>
                    <span class="SelfStorage_grey mb-3">Температура на складе</span>
                    <span class="fs_30 fw-bold SelfStorage_orange">{{ wh.boxes_avaliable }} из {{ wh.boxes_total }}</span>
                    <span class="SelfStorage_grey mb-3">Боксов свободно</span>
                  </div>
                  <div class="col-6 d-flex flex-column align-items-center align-items-lg-start">
                    <span class="fs_30 fw-bold SelfStorage_orange">до {{ wh.ceiling_height }} м</span>
                    <span class="SelfStorage_grey mb-3">Высота потолка</span>
                    <span class="fs_30 fw-bold SelfStorage_orange">от {{ wh.starting_rate }} ₽</span>
                    <span class="SelfStorage_grey mb-3">Оплата за месяц</span>
                  </div>
                  <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <button
                      class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_green SelfStorage__btn2_green mb-3">Арендовать
                      бокс</button>
                    <button
                      class="btn w-75 fs_24 px-5 py-3 text-white border-8 SelfStorage__bg_orange SelfStorage__btn2_orange">Позвонить
                      мне</button>
                  </div>
                  <a href="#" class="text-center text-lg-start mt-4 SelfStorage_orange">Нужна помощь?</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
			</div>

			<form class="row mt-5 d-none">
				<div class="col-6 col-lg-3">
					<input type="radio" name="BOXES_FILTER" id="ALL_BOXES" class="SelfStorage_radio d-none" checked>
					<label for="ALL_BOXES" class="btn my-2 w-100 fs_24">Все боксы</label>
				</div>
				<div class="col-6 col-lg-3">
					<input type="radio" name="BOXES_FILTER" id="to3m" class="SelfStorage_radio d-none">
					<label for="to3m" class="btn my-2 w-100 fs_24">До 3 м²</label>
				</div>
				<div class="col-6 col-lg-3">
					<input type="radio" name="BOXES_FILTER" id="to10m" class="SelfStorage_radio d-none">
					<label for="to10m" class="btn my-2 w-100 fs_24">До 10 м²</label>
				</div>
				<div class="col-6 col-lg-3">
					<input type="radio" name="BOXES_FILTER" id="From10m" class="SelfStorage_radio d-none">
					<label for="From10m" class="btn my-2 w-100 fs_24">От 10 м²</label>
				</div>
			</form>
			<ul class="nav nav-pills pt-header d-flex justify-content-between" id="pills-tab" role="tablist">
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab active" id="pills-all-tab"
						data-bs-toggle="pill" type="button" role="tab" aria-selected="true">Все боксы</button>
				</li>
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to3-tab" data-bs-toggle="pill"
						type="button" role="tab" 
						aria-selected="false">До 3 м²</button>
				</li>
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-to10-tab" data-bs-toggle="pill"
						type="button" role="tab" 
						aria-selected="false">До 10 м²</button>
				</li>
				<li class="nav-item flex-grow-1 mx-2" role="presentation">
					<button class="btn my-2 w-100 fs_24 SelfStorage__tab" id="pills-from10-tab" data-bs-toggle="pill"
						type="button" role="tab" 
						aria-selected="false">От 10 м²</button>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-home-tab" data-current="-1">
					<!-- BOXES WILL BE DISPLAYED HERE -->
				</div>
			</div>
		</article>
	</main>

	<footer>
		{% include 'includes/footer.html' %}
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
	<script>
		var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
		var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
			return new bootstrap.Popover(popoverTriggerEl)
		})
	</script>
</body>

</html>